version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/test"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "digitalocean/solutions-engineering"

  - package-ecosystem: "terraform"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "digitalocean/solutions-engineering"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "digitalocean/solutions-engineering"
