# ===================== DO CONFIG VARS =======================
do_token = "<add your DO API Token here>"

# =============================== DIGITALOCEAN Spaces (Optional) =================================
spaces_access_id=""
spaces_secret_key=""